.infoJumbo{
  min-width:50%;
  margin:50px;
  padding:150px;
  font-size:33px;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:gray;
  line-height: 35px;
}

.infoJumbo span{
  display: block;
  margin-top: 15px;
  color:coral;
}