<div class="row">
<app-scroll-animation [stateNoScroll]="true" >       
        <div class="col-9 col-s-12" >
              <!-- content -->
            <div class="row">
                <div class="col-12">
                    <div class="cell shadow-sm h-1">
                        {{responseEncrypt}} <br />
                        {{responseDecrypt}}
                    </div>
                
                </div>
              </div>
              <div class="row">
                           <div class="col-4 col-s-6">
                                <div class="cell shadow-sm h-1">
                                    1
                                </div>
                                <div class="cell shadow-sm h-1">
                                    1
                                </div>
                                <div class="cell shadow-sm h-1">
                                    1
                                </div>
                            </div>
                            <div class="col-4 col-s-6 ">
                                <div class="cell shadow-sm h-3">
                                    2
                                </div>
                            </div>
                             <div class="col-4 col-s-12">
                                <div class="cell shadow-sm h-2">
                                    3
                                </div>
                                    <div class="cell shadow-sm h-2">
                                    3
                                </div>
                            </div>
                </div>
                <div class="row">
                  
                           <div class="col-12">
                          
                               <div class="cell">                               
                                    fsdfs
                                </div>
                            </div>      
                </div>
            </div>
            <div class="col-3 col-s-12">
                  <!-- right panel -->
                <div class="m-auto text-center p-10 cell shadow">
                    <div class="w100" style="height:300px">
                    Prawy panel
                </div>
            </div>
            </div>
            
</app-scroll-animation>
    <div style="clear: both"></div>
    <div class="row" style="width:100%;margin: auto">
    <app-scroll-animation>
            <div style="background-color:thistle;height: 400px;border-radius:2px;padding:20px;margin-top:5px" class="shadow">
                    1
            </div>
    </app-scroll-animation>
    <app-scroll-animation>
            <div style="background-color:wheat;height: 500px;border-radius:2px;padding:20px;margin-top:5px" class="shadow">
                    2
            </div>
    </app-scroll-animation>
    <app-scroll-animation>
            <div style="background-color:skyblue;height: 400px;border-radius:2px;padding:20px;margin-top:5px" class="shadow">
                    3
             </div>
    </app-scroll-animation> 
    </div>
</div>