<div id="mySidenav" class="sidenav shadow">
  <mat-toolbar class="toolSidenav">
    <button mat-icon-button  aria-label="Zamknij boczny panel" onclick="closeNav()" >
      <mat-icon>menu</mat-icon>
    </button>
    <div style="clear: both;"></div>
  </mat-toolbar>
    <a mat-button href="#">Link 1</a>
    <a mat-button href="#">Link 2</a>
    <a mat-button href="#">Link 3</a>
    <a mat-button href="#">Link 1</a>
    <a mat-button href="#">Link 2</a>
    <a mat-button href="#">Link 3</a>    <a mat-button href="#">Link 1</a>
    <a mat-button href="#">Link 2</a>
    <a mat-button href="#">Link 3</a>    <a mat-button href="#">Link 1</a>
    <a mat-button href="#">Link 2</a>
    <a mat-button href="#">Link 3</a>
  </div>